#hero {
    min-height: 800px;
    padding: 0px;
    background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url("images/lit.jpg");
    background-size: cover;
    background-repeat: no-repeat;

}

.hero-text{
    color: white;
    text-align: center
}
