#hero {
    min-height: 700px;
    padding: 0px;
    background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url("images/lit2.jpg");
    background-size: cover;
    background-repeat: no-repeat;

}

.hero-text{
    color: white;
    font-size: 23px;
    text-align: center
}
