@import "header.css";
@import url('https://fonts.googleapis.com/css?family=Lora:400,700|Montserrat:300" rel="stylesheet');
@import "hero.css";
@import "skills.css";

body{
    margin: 0;
    background: rgb(158,158,163);
background: linear-gradient(90deg, rgba(158,158,163,1) 0%, rgba(208,202,227,1) 100%, rgba(42,17,119,1) 100%, rgba(0,212,255,1) 100%);
    
}

html{
     font-family: 'Montserrat', sans-serif;
}
  
header nav ul li a:hover{
    color: azure;
}

li a:hover{
    color: black
}

ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    height: 60px 
}

li{
    float: left;
}

li a{
    display: block;
    color: rgb(158,158,163);
    text-align: center; 
    padding: 10px 16px; 
    text-decoration: none;
    margin-top:12px;
    font-size: 20px
}

.center{
    position: absolute;
    width: 200px; 
    height: 50px;
    top: 50%;
    left: 50%;
    margin-left: -50px; /* margin is -0.5 * dimension */
    margin-top: -25px; 
    text-align: center;
   
  }

 
  .border{
    border: 1em solid;
    border-width: 15px;
    padding: 60px;
    margin-left: -50px; /* margin is -0.5 * dimension */
    margin-top: 60px; 

    margin-top:40px;
   margin:auto;
    width: 30%;
    margin-top: 120px
  }


  

  .web-info{
    display: grid; 
    grid-template-columns: repeat(2, 2fr); 
    padding:2rem;
}

#github{
    margin-right: 500px; /* margin is -0.5 * dimension */
    float: left;

}
.web-info p{
    padding: 0 5rem; 
    font-size:17px; 
    line-height: 2.2rem;
}

.web-info p span{
    font-weight: bold;
}